*,
*::before,
*::after
  box-sizing: border-box

html,
body
  margin: 0
  padding: 0
  height: 100%

::selection
  background: var(--acc-yellow)
  color: #0A0908

:focus-visible
  outline: 3px solid var(--acc-yellow)
  outline-offset: 3px
