div.statusbar
  div.statusbar__conn
    span.status#statusApi(title='REST API reachability')
      span.status__dot
      span.status__label API
    span.status#statusMcp(title='MCP endpoint reachability')
      span.status__dot
      span.status__label MCP
    span.status#statusSse(title='Live board updates (Server-Sent Events)')
      span.status__dot
      span.status__label SSE
  div.right
    span
      span#totalCount 0
      |  issues
    span
      span#laneCount 0
      |  lanes
    span#projectInfo.mono
