div.statusbar
  div
    span.dotg
    span API :8080
    span(style='margin-left:14px;')
      span.dotg
      |  MCP ready
  div.right
    span
      span#totalCount 0
      |  issues
    span
      span#laneCount 0
      |  lanes
    span#projectInfo.mono
