header.topbar
  .brand
    span.logo(aria-hidden='true')
      span.plate
      span.face Z
    span.brand-name
      | Zdzira
      span.dot
    span.crumb
      span.crumb__bold local
      |  &nbsp;/&nbsp; board &nbsp;/&nbsp;
      span.crumb__bold main
  .topbar-right
    .mode-switch(role='tablist', aria-label='Color mode')
      button.mode-switch__btn(data-set='light', aria-pressed='true') Light
      button.mode-switch__btn(data-set='dark', aria-pressed='false') Dark
      button.mode-switch__btn(data-set='contrast', aria-pressed='false') Contrast
